.texto{
  width: 500px;
  height: 500px;



}
input{
  width: 200px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;


}
th {
    text-align: center;


}


table {
    border-spacing: 5px;
}
